<div class="toast-container" *ngIf="toastService.toast()" [ngClass]="toastService.toast()?.type">
  <span class="toast-icon">
    <span *ngIf="toastService.toast()?.type === 'success'">✅</span>
    <span *ngIf="toastService.toast()?.type === 'error'">❌</span>
  </span>
  <p class="toast-text">{{ toastService.toast()?.text }}</p>
</div>

<div class="dashboard-container" *ngIf="!isLoginPage" [class.sidebar-collapsed]="isSidebarCollapsed">

  <button class="mobile-menu-trigger" *ngIf="isSidebarCollapsed" (click)="toggleSidebar()">
    <i class="bi bi-list"></i>
  </button>
  
  <aside class="sidebar" [class.collapsed]="isSidebarCollapsed">
    
    <div class="logo-section">
      <div class="logo-icon" (click)="toggleSidebar()">
        <i class="bi bi-list"></i> </div>
      <span class="logo-text" *ngIf="!isSidebarCollapsed">ICON WEAR</span>
    </div>

    <nav class="menu">
      <a routerLink="/dashboard" routerLinkActive="active" class="menu-item" title="Dashboard">
        <span class="menu-icon">📊</span> 
        <span class="menu-text" *ngIf="!isSidebarCollapsed">Dashboard</span>
      </a>
      <a routerLink="/categories" routerLinkActive="active" class="menu-item" title="Categories">
        <span class="menu-icon">📂</span> 
        <span class="menu-text" *ngIf="!isSidebarCollapsed">Categories</span>
      </a>
      <a routerLink="/products" routerLinkActive="active" class="menu-item" title="Products">
        <span class="menu-icon">📦</span> 
        <span class="menu-text" *ngIf="!isSidebarCollapsed">Products</span>
      </a>
    </nav>
    
    <div class="logout-section">
      <button class="btn-logout" routerLink="/" title="Logout">
        <span class="menu-icon">🚪</span> 
        <span class="menu-text" *ngIf="!isSidebarCollapsed">Logout</span>
      </button>
    </div>
  </aside>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

</div>

<div class="full-login-page" *ngIf="isLoginPage">
  <router-outlet></router-outlet>
</div>
