<div class="dashboard-container" *ngIf="!isLoginPage">
  
  <aside class="sidebar">
    <div class="logo-section">
      <div class="logo-icon">
        <i class="bi bi-list"></i> </div>
      <span class="logo-text">ICON WEAR</span>
    </div>

    <nav class="menu">
      <a routerLink="/dashboard" routerLinkActive="active" class="menu-item">
        <span class="icon">📊</span> Dashboard
      </a>
      <a routerLink="/categories" routerLinkActive="active" class="menu-item">
        <span class="icon">📂</span> Categories
      </a>
      <a routerLink="/products" routerLinkActive="active" class="menu-item">
        <span class="icon">📦</span> Products
      </a>
      <a routerLink="/statistics" routerLinkActive="active" class="menu-item">
        <span class="icon">📈</span> Statistics
      </a>
    </nav>
    
    <div class="logout-section">
      <button class="btn-logout" routerLink="/">
        Logout
      </button>
    </div>
  </aside>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>

</div>

<div class="full-login-page" *ngIf="isLoginPage">
  <router-outlet></router-outlet>
</div>